# 포지션별 선정된 선수들의 상세 분석

### FW : 리오넬 메시, 앙투안 그리즈만, 데얀 쿨루세브스키
### MF : 브루누 페르난데스, 토니 크로스, 케빈 더브라위너
### DF : 주앙 칸셀루, 버질 반데이크, 에데르 밀리탕, 키어런 트리피어
### GK : E. 마르티네스

In [1]:
import json # Json Object Array 이용
import requests # 호출 위함
import sys
import os
import re
import requests
import pandas as pd
import numpy as np

In [2]:
api_key = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJYLUFwcC1SYXRlLUxpbWl0IjoiNTAwOjEwIiwiYWNjb3VudF9pZCI6Ijg0MzIxOTgwIiwiYXV0aF9pZCI6IjIiLCJleHAiOjE2ODMxOTQ5MDQsImlhdCI6MTY2NzY0MjkwNCwibmJmIjoxNjY3NjQyOTA0LCJzZXJ2aWNlX2lkIjoiNDMwMDExNDgxIiwidG9rZW5fdHlwZSI6IkFjY2Vzc1Rva2VuIn0.C0sD1AcyRq-_Gx7xIukxF2WP9aVDe43qhWrMih89AeA'

In [3]:
headers = {'Authorization' : api_key}

In [4]:
matchtype_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/matchtype.json',headers=headers)
matchtype_parsed_data = matchtype_url.json()
matchtype_data = pd.DataFrame(matchtype_parsed_data,index=[i for i in range(len(matchtype_parsed_data))])
matchtype_parsed_data

[{'matchtype': 30, 'desc': '리그 친선'},
 {'matchtype': 40, 'desc': '클래식 1on1'},
 {'matchtype': 50, 'desc': '공식경기'},
 {'matchtype': 52, 'desc': '감독모드'},
 {'matchtype': 60, 'desc': '공식 친선'},
 {'matchtype': 204, 'desc': '볼타 친선'},
 {'matchtype': 214, 'desc': '볼타 공식'},
 {'matchtype': 224, 'desc': '볼타 AI대전'},
 {'matchtype': 234, 'desc': '볼타 커스텀'}]

In [5]:
matchtype_data

   matchtype      desc
0         30     리그 친선
1         40  클래식 1on1
2         50      공식경기
3         52      감독모드
4         60     공식 친선
5        204     볼타 친선
6        214     볼타 공식
7        224   볼타 AI대전
8        234    볼타 커스텀

In [6]:
seasonid_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/seasonid.json',headers=headers)
seasonid_parsed_data = seasonid_url.json()
seasonid_data = pd.DataFrame(seasonid_parsed_data,index=[i for i in range(len(seasonid_parsed_data))])
seasonid_data

,seasonId,className,seasonImg
0,101,ICON (ICON),https://ssl.nexon.com/s2/game/fo4/obt/external...
1,201,NHD (National Hero Debut),https://ssl.nexon.com/s2/game/fo4/obt/external...
2,202,TKI (Team Korea Icon),https://ssl.nexon.com/s2/game/fo4/obt/external...
3,206,TB (Tournament Best),https://ssl.nexon.com/s2/game/fo4/obt/external...
4,207,TT (Top Transfer),https://ssl.nexon.com/s2/game/fo4/obt/external...
...,...,...,...
73,506,20 PL (20 Premium Live),https://ssl.nexon.com/s2/game/fo4/obt/external...
74,507,21KLeague (21KLeague),https://ssl.nexon.com/s2/game/fo4/obt/external...
75,508,21 PL (21 Premium Live),https://ssl.nexon.com/s2/game/fo4/obt/external...
76,510,22KLeague (22KLeague),https://ssl.nexon.com/s2/game/fo4/obt/external...
77,511,22 PL (22 Premium Live),https://ssl.nexon.com/s2/game/fo4/obt/external...

In [7]:
spid_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spid.json',headers=headers)
spid_parsed_data = spid_url.json()
spid_data = pd.DataFrame(spid_parsed_data,index=[i for i in range(len(spid_parsed_data))])
id_list = spid_data[spid_data['name']=='리오넬 메시']['id'].values.tolist()
# print(id_list) # 리오넬 메시 시즌 id 모음 리스트
ids = spid_data[spid_data['name']=='리오넬 메시']
ids

              id    name
244    201158023  리오넬 메시
498    206158023  리오넬 메시
1299   210158023  리오넬 메시
1638   211158023  리오넬 메시
1651   212158023  리오넬 메시
1755   214158023  리오넬 메시
1974   215158023  리오넬 메시
2209   216158023  리오넬 메시
2400   217158023  리오넬 메시
2890   220158023  리오넬 메시
2912   221158023  리오넬 메시
3683   230158023  리오넬 메시
4227   234158023  리오넬 메시
4867   241158023  리오넬 메시
4939   242158023  리오넬 메시
5581   250158023  리오넬 메시
6020   252158023  리오넬 메시
6529   256158023  리오넬 메시
6760   258158023  리오넬 메시
6850   260158023  리오넬 메시
7342   264158023  리오넬 메시
7528   267158023  리오넬 메시
7980   272158023  리오넬 메시
8100   273158023  리오넬 메시
8624   278158023  리오넬 메시
9037   300158023  리오넬 메시
53197  500158023  리오넬 메시
53589  501158023  리오넬 메시
54963  502158023  리오넬 메시
56357  503158023  리오넬 메시
57580  506158023  리오넬 메시
58309  508158023  리오넬 메시
59100  511158023  리오넬 메시

- seasonid에서 앞 세 자리가 선수의 시즌을 의미한다
- 크롤링으로 웹 주소에 시즌 아이디를 입력하여 각 시즌마다 어떤 시즌이 가장 많이 쓰였는지 조사하고, 가장 많이 쓰인 상위 시즌들을 선정한다
- 상위 5개 정도?
- 선수별로 리스트를 만들어 가장 많이 쓰인 상위 시즌들을 고른다
- json 형식으로 선수의 주요 포지션과 상위 시즌을 조합하여 저장한다

In [8]:
spposition_url = requests.get('https://static.api.nexon.co.kr/fifaonline4/latest/spposition.json',headers=headers)
spposition_parsed_data = spposition_url.json()
spposition_data = pd.DataFrame(spposition_parsed_data,index=[i for i in range(len(spposition_parsed_data))])
spposition_list = spposition_data['spposition'].values.tolist()
#print(spposition_list)
#print(spposition_data)
Goalkeeper = spposition_data.loc[spposition_data['desc']=='GK']
Sideback = spposition_data.loc[spposition_data['desc'].isin(['RB','LB','RWB','LWB'])]
Centerback = spposition_data.loc[spposition_data['desc'].isin(['RCB','LCB','CB','SW'])]
Midfielder = spposition_data.loc[spposition_data['desc'].isin(['RDM','CDM','LDM','LCM','CM','RCM','CAM'])]
WingForward = spposition_data.loc[spposition_data['desc'].isin(['RM','LM','RAM','LAM','LW','RW'])]
CenterForward = spposition_data.loc[spposition_data['desc'].isin(['RF','LF','CF','LS','RS','ST'])]

CenterForward

    spposition desc
20          20   RF
21          21   CF
22          22   LF
24          24   RS
25          25   ST
26          26   LS

In [9]:
wing = WingForward['spposition'].values.tolist()

print(wing)

[12, 16, 17, 19, 23, 27]

In [10]:
ids=[]
for i in id_list:
    for p in wing:
        x = {"id":i,"po":p}
        ids.append(x)
        
print(ids)
print(len(ids))

[{'id': 201158023, 'po': 12}, {'id': 201158023, 'po': 16}, {'id': 201158023, 'po': 17}, {'id': 201158023, 'po': 19}, {'id': 201158023, 'po': 23}, {'id': 201158023, 'po': 27}, {'id': 206158023, 'po': 12}, {'id': 206158023, 'po': 16}, {'id': 206158023, 'po': 17}, {'id': 206158023, 'po': 19}, {'id': 206158023, 'po': 23}, {'id': 206158023, 'po': 27}, {'id': 210158023, 'po': 12}, {'id': 210158023, 'po': 16}, {'id': 210158023, 'po': 17}, {'id': 210158023, 'po': 19}, {'id': 210158023, 'po': 23}, {'id': 210158023, 'po': 27}, {'id': 211158023, 'po': 12}, {'id': 211158023, 'po': 16}, {'id': 211158023, 'po': 17}, {'id': 211158023, 'po': 19}, {'id': 211158023, 'po': 23}, {'id': 211158023, 'po': 27}, {'id': 212158023, 'po': 12}, {'id': 212158023, 'po': 16}, {'id': 212158023, 'po': 17}, {'id': 212158023, 'po': 19}, {'id': 212158023, 'po': 23}, {'id': 212158023, 'po': 27}, {'id': 214158023, 'po': 12}, {'id': 214158023, 'po': 16}, {'id': 214158023, 'po': 17}, {'id': 214158023, 'po': 19}, {'id': 214158023, 'po': 23}, {'id': 214158023, 'po': 27}, {'id': 215158023, 'po': 12}, {'id': 215158023, 'po': 16}, {'id': 215158023, 'po': 17}, {'id': 215158023, 'po': 19}, {'id': 215158023, 'po': 23}, {'id': 215158023, 'po': 27}, {'id': 216158023, 'po': 12}, {'id': 216158023, 'po': 16}, {'id': 216158023, 'po': 17}, {'id': 216158023, 'po': 19}, {'id': 216158023, 'po': 23}, {'id': 216158023, 'po': 27}, {'id': 217158023, 'po': 12}, {'id': 217158023, 'po': 16}, {'id': 217158023, 'po': 17}, {'id': 217158023, 'po': 19}, {'id': 217158023, 'po': 23}, {'id': 217158023, 'po': 27}, {'id': 220158023, 'po': 12}, {'id': 220158023, 'po': 16}, {'id': 220158023, 'po': 17}, {'id': 220158023, 'po': 19}, {'id': 220158023, 'po': 23}, {'id': 220158023, 'po': 27}, {'id': 221158023, 'po': 12}, {'id': 221158023, 'po': 16}, {'id': 221158023, 'po': 17}, {'id': 221158023, 'po': 19}, {'id': 221158023, 'po': 23}, {'id': 221158023, 'po': 27}, {'id': 230158023, 'po': 12}, {'id': 230158023, 'po': 16}, {'id': 230158023, 'po': 17}, {'id': 230158023, 'po': 19}, {'id': 230158023, 'po': 23}, {'id': 230158023, 'po': 27}, {'id': 234158023, 'po': 12}, {'id': 234158023, 'po': 16}, {'id': 234158023, 'po': 17}, {'id': 234158023, 'po': 19}, {'id': 234158023, 'po': 23}, {'id': 234158023, 'po': 27}, {'id': 241158023, 'po': 12}, {'id': 241158023, 'po': 16}, {'id': 241158023, 'po': 17}, {'id': 241158023, 'po': 19}, {'id': 241158023, 'po': 23}, {'id': 241158023, 'po': 27}, {'id': 242158023, 'po': 12}, {'id': 242158023, 'po': 16}, {'id': 242158023, 'po': 17}, {'id': 242158023, 'po': 19}, {'id': 242158023, 'po': 23}, {'id': 242158023, 'po': 27}, {'id': 250158023, 'po': 12}, {'id': 250158023, 'po': 16}, {'id': 250158023, 'po': 17}, {'id': 250158023, 'po': 19}, {'id': 250158023, 'po': 23}, {'id': 250158023, 'po': 27}, {'id': 252158023, 'po': 12}, {'id': 252158023, 'po': 16}, {'id': 252158023, 'po': 17}, {'id': 252158023, 'po': 19}, {'id': 252158023, 'po': 23}, {'id': 252158023, 'po': 27}, {'id': 256158023, 'po': 12}, {'id': 256158023, 'po': 16}, {'id': 256158023, 'po': 17}, {'id': 256158023, 'po': 19}, {'id': 256158023, 'po': 23}, {'id': 256158023, 'po': 27}, {'id': 258158023, 'po': 12}, {'id': 258158023, 'po': 16}, {'id': 258158023, 'po': 17}, {'id': 258158023, 'po': 19}, {'id': 258158023, 'po': 23}, {'id': 258158023, 'po': 27}, {'id': 260158023, 'po': 12}, {'id': 260158023, 'po': 16}, {'id': 260158023, 'po': 17}, {'id': 260158023, 'po': 19}, {'id': 260158023, 'po': 23}, {'id': 260158023, 'po': 27}, {'id': 264158023, 'po': 12}, {'id': 264158023, 'po': 16}, {'id': 264158023, 'po': 17}, {'id': 264158023, 'po': 19}, {'id': 264158023, 'po': 23}, {'id': 264158023, 'po': 27}, {'id': 267158023, 'po': 12}, {'id': 267158023, 'po': 16}, {'id': 267158023, 'po': 17}, {'id': 267158023, 'po': 19}, {'id': 267158023, 'po': 23}, {'id': 267158023, 'po': 27}, {'id': 272158023, 'po': 12}, {'id': 272158023, 'po': 16}, {'id': 272158023, 'po': 17}, {'id': 272158023, 'po': 19}, {'id': 272158023, 'po': 23}, {'id': 272158023, 'po': 27}, {'id': 273158023, 'po': 12}, {'id': 273158023, 'po': 16}, {'id': 273158023, 'po': 17}, {'id': 273158023, 'po': 19}, {'id': 273158023, 'po': 23}, {'id': 273158023, 'po': 27}, {'id': 278158023, 'po': 12}, {'id': 278158023, 'po': 16}, {'id': 278158023, 'po': 17}, {'id': 278158023, 'po': 19}, {'id': 278158023, 'po': 23}, {'id': 278158023, 'po': 27}, {'id': 300158023, 'po': 12}, {'id': 300158023, 'po': 16}, {'id': 300158023, 'po': 17}, {'id': 300158023, 'po': 19}, {'id': 300158023, 'po': 23}, {'id': 300158023, 'po': 27}, {'id': 500158023, 'po': 12}, {'id': 500158023, 'po': 16}, {'id': 500158023, 'po': 17}, {'id': 500158023, 'po': 19}, {'id': 500158023, 'po': 23}, {'id': 500158023, 'po': 27}, {'id': 501158023, 'po': 12}, {'id': 501158023, 'po': 16}, {'id': 501158023, 'po': 17}, {'id': 501158023, 'po': 19}, {'id': 501158023, 'po': 23}, {'id': 501158023, 'po': 27}, {'id': 502158023, 'po': 12}, {'id': 502158023, 'po': 16}, {'id': 502158023, 'po': 17}, {'id': 502158023, 'po': 19}, {'id': 502158023, 'po': 23}, {'id': 502158023, 'po': 27}, {'id': 503158023, 'po': 12}, {'id': 503158023, 'po': 16}, {'id': 503158023, 'po': 17}, {'id': 503158023, 'po': 19}, {'id': 503158023, 'po': 23}, {'id': 503158023, 'po': 27}, {'id': 506158023, 'po': 12}, {'id': 506158023, 'po': 16}, {'id': 506158023, 'po': 17}, {'id': 506158023, 'po': 19}, {'id': 506158023, 'po': 23}, {'id': 506158023, 'po': 27}, {'id': 508158023, 'po': 12}, {'id': 508158023, 'po': 16}, {'id': 508158023, 'po': 17}, {'id': 508158023, 'po': 19}, {'id': 508158023, 'po': 23}, {'id': 508158023, 'po': 27}, {'id': 511158023, 'po': 12}, {'id': 511158023, 'po': 16}, {'id': 511158023, 'po': 17}, {'id': 511158023, 'po': 19}, {'id': 511158023, 'po': 23}, {'id': 511158023, 'po': 27}]
198

In [11]:
[{"id":201158023,"po":23}, {"id":201158023,"po":27}, {"id":201158023,"po":18}]

[{'id': 201158023, 'po': 23},
 {'id': 201158023, 'po': 27},
 {'id': 201158023, 'po': 18}]